.chat {
  height: 100vh;
  padding: 50px;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
    to right top,
    #00416b,
    #31396d,
    #532c65,
    #6b1951,
    #790035,
    #7a002e,
    #7b0026,
    #7b001e,
    #7a002f,
    #720043,
    #600058,
    #3f006d
  );
}

.chat-head {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-head > img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  padding-bottom: 10px;
}

.chat-head > span {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.chat-foot {
  width: 100%;
  border: 1px solid yellow;
}
